.mat-toolbar.mat-toolbar-single-row{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8901960784313725);
    position: fixed;
    z-index: 10;
    background-color: rgba(76, 175, 80, 0.96);
    color: white;
}