<table mat-table [dataSource]="leagueTable" class="mat-elevation-z8">
  
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Pos. </th>
    <td mat-cell *matCellDef="let element"> <strong>{{element.position}}</strong> </td>
  </ng-container>

  <ng-container matColumnDef="teamLogo">
    <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
    <td mat-cell *matCellDef="let element">
       <img width="32" 
            height="32" 
            class="img_size" 
            src="{{element.team.crestUrl}}" 
            onError="this.src='./assets/soccer-ball.png'"> 
    </td>
  </ng-container>

  <ng-container matColumnDef="team">
    <th mat-header-cell *matHeaderCellDef> Team </th>
    <td mat-cell *matCellDef="let element"> {{element.team.name}} </td>
  </ng-container>

  <ng-container matColumnDef="played">
    <th mat-header-cell *matHeaderCellDef> Played </th>
    <td mat-cell *matCellDef="let element"> {{element.playedGames}} </td>
  </ng-container>

  <ng-container matColumnDef="won">
    <th mat-header-cell *matHeaderCellDef> Won </th>
    <td mat-cell *matCellDef="let element">{{element.won}}</td>
  </ng-container>

  <ng-container matColumnDef="lost">
    <th mat-header-cell *matHeaderCellDef> Lost </th>
    <td mat-cell *matCellDef="let element">{{element.lost}}</td>
  </ng-container>

  <ng-container matColumnDef="draw">
    <th mat-header-cell *matHeaderCellDef> Draw </th>
    <td mat-cell *matCellDef="let element">{{element.draw}}</td>
  </ng-container>

  <ng-container matColumnDef="pointes">
    <th mat-header-cell *matHeaderCellDef> Points </th>
    <td mat-cell *matCellDef="let element">{{element.points}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>