<div class="card_wrapper">
    <mat-card flex="50" class="competition_card" *ngFor="let competition of competitions">
        <mat-card-header>
            <div appBackgroundSet mat-card-avatar class="example-header-image">{{competition.name | intialSlicer}}</div>
            <mat-card-title (click)="openLeague(competition.id)" class="fw_600 c_p"><u>{{competition.name}}</u></mat-card-title>
            <mat-card-subtitle>{{competition.area.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-flat-button (click)="openLeague(competition.id)">More</button>
        </mat-card-actions>
    </mat-card>
</div>
<div *ngIf="error" class="text-red fw_700 text-center mt-10">
    {{this.error.error}}
  </div>
