/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700');
body{
    margin: 0;
    padding: 0;
}
.f_8{
    font-size: 8px !important;
}
.f_9{
    font-size: 9px !important;
}
.f_10{
    font-size: 10px !important;
}
.f_11{
    font-size: 11px !important;
}
.f_12{
    font-size: 12px !important;
}
.f_13{
    font-size: 13px !important;
}
.f_14{
    font-size: 14px !important;
}
.f_15{
    font-size: 15px !important;
}
.f_16{
    font-size: 16px !important;
}
.f_17{
    font-size: 17px !important;
}
.f_18{
    font-size: 18px !important;
}
.f_19{
    font-size: 19px !important;
}
.f_20{
    font-size: 20px !important;
}
.f_21{
    font-size: 21px !important;
}
.f_22{
    font-size: 22px !important;
}
.f_23{
    font-size: 23px !important;
}
.f_24{
    font-size: 24px !important;
}
.f_26{
    font-size: 26px !important;
}
.f_28{
    font-size: 28px !important;
}
.f_30{
    font-size: 30px !important;
}
.f_32{
    font-size: 32px !important;
}
.f_34{
    font-size: 34px !important;
}
.f_36{
    font-size: 36px !important;
}
.f_50{
    font-size: 50px !important;
}

.fw_400{
    font-weight: 400 !important;
}
.fw_500{
    font-weight: 500 !important;
}
.fw_600{
    font-weight: 600 !important;
}
.fw_700{
    font-weight: 700 !important;
}


@media screen and (max-width: 660px) {
    .fm_8{
        font-size: 8px !important;
    }
    .fm_9{
        font-size: 9px !important;
    }
    .fm_10{
        font-size: 10px !important;
    }
    .fm_11{
        font-size: 11px !important;
    }
    .fm_12{
        font-size: 12px !important;
    }
    .fm_13{
        font-size: 13px !important;
    }
    .fm_14{
        font-size: 14px !important;
    }
    .fm_15{
        font-size: 15px !important;
    }
    .fm_16{
        font-size: 16px !important;
    }
    .fm_17{
        font-size: 17px !important;
    }
    .fm_18{
        font-size: 18px !important;
    }
    .fm_19{
        font-size: 19px !important;
    }
    .fm_20{
        font-size: 20px !important;
    }
    .fm_21{
        font-size: 21px !important;
    }
    .fm_22{
        font-size: 22px !important;
    }
    .fm_23{
        font-size: 23px !important;
    }
    .fm_24{
        font-size: 24px !important;
    }
    .fm_26{
        font-size: 26px !important;
    }
    .fm_28{
        font-size: 28px !important;
    }
    .fm_30{
        font-size: 30px !important;
    }
    .fm_32{
        font-size: 32px !important;
    }
    .fm_34{
        font-size: 34px !important;
    }
    .fm_36{
        font-size: 36px !important;
    }
    .fm_50{
        font-size: 50px !important;
    }
}

.padding-x{
    padding: 0px 16px;
}
.mb-0{
    margin-bottom: 0 !important;
}

.float-left{
    float: left !important;
}

.float-right{
    float: right !important;
}
.c_p{
    cursor: pointer !important;
}
.mt-40{
    margin-top: 40px !important;    
}
body{
    background: url('/assets/football-2.png') center center;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif !important; 
    background-color: rgba(0, 0, 0, 0.011764705882352941);
}
body::before{
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(45, 45, 45, 0.17);
    z-index: -1;
}
.mx-auto{
    margin: 0 auto !important;
}
.mx-auto{
    margin: 0 auto !important;
}
.ml-auto{
    margin-left: auto !important;
}
.mr-auto{
    margin-right: auto !important;
}

.w-33p{
    width: 33% !important;
}
.w-28p{
    width: 28% !important;
}
.w-16p{
    width: 16% !important;
}
.text-center{
    text-align: center !important;
}
.mt-10p{
    margin-top: 10px !important;
}
.mb-10p{
    margin-bottom: 10px !important;
}
.mt-20p{
    margin-top: 20px !important;
}
.mt-20{
    margin-top: 20px !important;
}
.mt-60{
    margin-top: 60px !important;
}
.halftime{
    height: 20px !important;
}
.w-50{
    width: 50% !important;
}
.mat-bottom-sheet-container{
    border-top: 3px solid rgba(76, 175, 80, 0.96) !important;
}
.text-white{
    color: white !important;
}
.mt-6{
    margin-top: 6px !important;
}
@media (max-width: 576px) {
    body .competition_card{
        width: 80% !important;
        margin: 0px auto 16px 24px !important;
    }

    .competition_card .mat-card-actions{
        margin-top: 8px !important;
    }
    .league_sub_heading{
        font-size: 12px;
        margin-top: 0;
    }
    .league_heading{
        font-size: 18px;
        margin-top: 0;
    }
    body .scoring_wrapper{
        width: 100% !important;
        order: 2 !important;
    }
    .table_wrapper{
        width: 98% !important;
        margin-top: 78px !important;
        margin: 0 auto !important;
        order: 1 !important;
    }
    .desktop{
        display: none !important;
    }
    .mobile{
        display: unset !important;
    }
    .score {
        padding: 2px 6px !important;
        font-size: 14px !important;
    }
    .d-flex{
        display: flex;
        flex-wrap: wrap;
    }
    .mobile .mat-card {
        padding: 6px 0px 10px 0px !important;
        margin-bottom: 12px !important;
        margin-left: 6px !important;
        margin-right: 6px !important;
    }
 
    .see_detail .mat-raised-button{
        line-height: 26px !important;
        font-size: 12px !important;
    }
    body {
        background: url(/assets/football-2.png) 50% top !important;
    }
    .mt-20p {
        margin-top: 4px !important;
    }
    .mat-bottom-sheet-container{
        padding: 8px 8px !important;
    }
    .matchDetailWrapper mat-list-item{
        font-size: 12px !important; 
    }
    .refree_text{
        font-size: 10px !important;
        text-align: center !important;
    }
    .mx-auto.w-33p.fw_700.f_16.fm_12{
        text-align: center !important;
    }
    .scoring_wrapper .matchday{
        margin-right: -57px !important;
        top: -35px !important;
        right: 50% !important;
        left: unset !important;
        font-size: 14px !important;
        background: #ffffff !important;
        padding: 4px 12px !important;
        color: #333333 !important;
    }
}

.desktop{
    display: unset;
}
.mobile{
    display: none;
}
.text-red{
    color: #c10000 !important;
}